body {
  background-color: #ededed;
  margin: 0;
}

/* HERO =========================================== */
.hero {
  background-color: tomato;
  color: white;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-weight: normal;
}
/* /HERO =========================================== */
